.container{
    height:700px;
    background-color: beige;
    border:2px solid black;

    display:grid;

    grid-template-rows: 30px  150px 400px 30px;
    grid-template-columns: 500px;

    grid-template-areas: 
    "hd"
    "side"
    "ct" 
    "foot"  ; 
}

.box{
    background-color: aqua;
    border:2px solid black;
}
 
#header{
    grid-area: hd;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: ct;
}
#footer{
    grid-area: foot;
} 