.box{
    background-color: aqua;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;

}
#box3{
    position: relative;
    top:15px;
    right:25px;
}